.c--news {
    position: relative;
    margin: 0 auto;
    width: 100%;
    .c--news__container {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }
    // 記事
    .c--news__inner {
        position: relative;
        margin: 0 auto;
        width: 100%;
    }
    // 記事フッター
    .c--news__footer {
        position: relative;
        margin: 54px auto 0;
        width: 100%;
        @include tab {
            margin-top: 24px;
        }
    }
}

.c--single {
    position: relative;
    margin: 0 auto;
    width: 100%;
    // 記事タイトル
    .c--single__header {
        position: relative;
        margin: 0 auto 10px;
        background-color: #fff;
        padding: 30px 40px 25px 29px;
        @include tab {
            margin-bottom: 6px;
            padding: 14px 14px 12px 14px;
        }
        .c--single__date {
            @include alp;
            margin-bottom: 10px;
            color: #828181;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.1em;
            line-height: 1;
            @include tab {
                margin-bottom: 4px;
                font-size: 11px;
                letter-spacing: 0.1em;
                line-height: 1;
            }
        }
        .c--single__title {
            margin-left: 1px;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.01em;
            line-height: 1.4;
            @include tab {
                font-size: 12px;
                line-height: 1.6;
            }
        }
    }
    // 記事本文
    .c--single__inner {
        position: relative;
        margin: 0 auto;
        background-color: #fff;
        padding: 40px 30px 52px;
        @include tab {
            padding: 22px 16px 29px;
        }
        .c--single__text {
            position: relative;
            margin: 0 auto;
            background-color: #fff;
            padding: 40px 30px 52px;
        }
        p {
            @include tab {
                font-size: 13px;
                line-height: 1.4;
            }
        }
    }
}

.c--pager {
    position: relative;
    margin: 0 auto;
    text-align: center;
    .c--pager__btn {
        display: inline-block;
        position: relative;
        opacity: 1;
        z-index: 1;
        width: 56px;
        height: 29px;
        @include trs-08;
        &:hover {
            opacity: 0.6;
        }
    }
    .c--pager__menu {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
        .c--pager__menu-bar {
            display: block;
            position: absolute;
            left: 13px;
            background: #000;
            width: 30px;
            height: 1px;
            &:nth-child(1) {
                top: 7px;
            }
            &:nth-child(2) {
                top: 14px;
            }
            &:nth-child(3) {
                top: 21px;
            }
        }
    }
}
